/* font style link here.... */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;600;700&family=Moon+Dance&family=Open+Sans:wght@300&family=PT+Serif&family=Poppins:wght@100;500;600;700&family=Raleway:wght@500;700&family=Roboto:ital,wght@0,700;1,300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #dde8ef47;
}
.border-style{
    border-radius: 2rem;
}
 #footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#error{
    display: none;
}
 #spinner{
  display: none; 
} 



/* @media  query for single card text.. */
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .card-width{
       width: 20em;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .card-width{
        width: 20em;
    }
}